<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>
<body class="bg-gray-50 font-sans antialised">
    <!-- Navbar -->
    <nav class="bg-pink-900 p-4 text-white flex justify-between">
        <div>
            <h1 class="text-2xl font-bold">Content Genie</h1>
        </div>
        <div>
            <a href="#" class="text-white mx-4">Welcome {{user.username}} !</a>
            <a href="/" class="text-white hover:underline mx-4">Home</a>
            <a href="#" class="text-white hover:underline">Logout</a>
        </div>
    </nav>

    <!--main content-->
    <div class="container mx-auto mt-10 px-4 sm:px-0">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">

            <!-- blog posts section -->
            <section>
                <h2 class="text-xl mb-4 font-semibold">Your Blog Posts</h2>
                <div class="space-y-4">
                    {% for article in blog_articles reversed %}
                    <a href="{% url 'blog-details' article.id %}" class="block">
                        <div class="border border-gray-300 p-4 rounded-lg hover:bg-gray-100">
                            <h3 class="font-semibold">{{ article.youtube_title }}</h3>
                            <p>{{ article.generated_content|truncatechars:80 }}</p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                
            </section>

        </div>
    </div>

</body>
</html>